@font-face {
    src: url('../font/SAOUITT-Bold.ttf');
}

@font-face {
    src: url('../font/SAOUITT-Regular.ttf');
}

.bold {
    -fx-font-family: "SAO UI TT";
    -fx-font-weight: bold;
}

.regular {
    -fx-font-family: "SAO UI TT";
}

.chinese-text {
}

.button {
    -fx-background-color: #F9F9F9;
}

.button:hover {
    -fx-background-color: #eda60c;
    -fx-text-fill: #F9F9F9;
}
